  body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        table {
            border-collapse: collapse;
            width: 70%;
            margin: auto;
        }

        thead {
            background-color: #f5f5f5;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
        }

        th {
            font-weight: bold;
        }

        caption {
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: bold;
        }